.header {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;

    &__profile-widget {
        margin: 0 40px 0 0;
    }

    &__notification {
        margin: 34px 30px 34px 0;
    }
}
