@import '../../styles/base/base';

.discover-restaurant-section {
    background-color: $color-porcelain;
    column-gap: 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto;
    row-gap: 40px;
}
