@import '../../styles/base/base';

@mixin ratingbox($background, $element, $width) {
    align-items: center;
    background-color: $background;
    border-radius: 8px;
    box-sizing: border-box;
    color: $element;
    cursor: pointer;
    display: flex;
    font-size: $size-14;
    font-weight: 700;
    height: 32px;
    justify-content: space-between;
    padding: 8px 12px;
    width: $width;
}

.rating {
    $_this: &;
    display: flex;
    justify-content: flex-end;
    width: 145px;

    &__star {
        background: none;
        border: 0;
        content: url('../../assets/starFilled.svg');
        cursor: pointer;
        padding: 8px 8px 8px 0;
        position: relative;

        &:hover::before,
        &:hover ~ #{$_this}__star::before {
            content: url('../../assets/starFilled.svg');
            padding-top: 8px;
            position: absolute;
        }
    }

    &__expand {
        direction: rtl;
        unicode-bidi: bidi-override;

        svg {
            padding-bottom: 5px;
            padding-top: 8px;
        }
    }

    &__collapse {
        @include ratingbox($color-yellow, $color-pickled-bluewood, 65px);

        overflow: hidden;

        &:hover {
            width: 145px;

            #{$_this}__expand #{$_this}__star {
                content: '';
                padding-right: 7px;
            }
        }
    }
}
