@import '../../styles/base/base';

@mixin ratingbox($background, $element, $width) {
    align-items: center;
    background-color: $background;
    border-radius: 8px;
    box-sizing: border-box;
    color: $element;
    cursor: pointer;
    display: flex;
    font-size: $size-14;
    font-weight: 700;
    height: 32px;
    justify-content: space-between;
    overflow: hidden;
    padding: 8px 12px;
    width: $width;
}

.rating {
    $_this: &;
    display: flex;
    justify-content: flex-end;
    width: 145px;

    &__star {
        appearance: none;
        content: url('../../assets/starEmpty.svg');
        cursor: pointer;
        margin: 0 8px 0 0;
        padding-bottom: 9px;
        padding-top: 13px;
        position: relative;

        &:hover,
        &:checked {
            content: url('../../assets/starFilled.svg');
            ~ #{$_this}__star {
                content: url('../../assets/starFilled.svg');
            }
        }
    }

    &__expand {
        direction: rtl;
        unicode-bidi: bidi-override;
    }

    &__collapse {
        @include ratingbox($color-yellow, $color-pickled-bluewood, 65px);

        &:hover {
            overflow: visible;
            width: 145px;

            #{$_this}__expand #{$_this}__star {
                margin: 4px 0 0;
                padding: 3px;
            }

            #{$_this}__expand {
                margin-left: 1px;
            }
        }
    }

    .on-tab {
        @include ratingbox($color-yellow, $color-pickled-bluewood, 65px);
        overflow: visible;
        width: 145px;

        #{$_this}__expand #{$_this}__star {
            margin: 4px 0 0;
            padding: 3px;
        }

        #{$_this}__expand {
            margin-left: 1px;
        }
    }
}
