$btn-hover: #5836cc;
$btn-active: #462ca3;
$btntxt-disabled: #9ea7b3;

@import '../../styles/base/base';

.button {
    background-color: $color-purple-dark;
    border: 0;
    border-radius: 65px;
    color: $color-white;
    font-family: $main-font;
    font-size: $size-16;
    height: 40px;
    padding: 8px 24px;
    text-transform: uppercase;

    &--enabled {
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: $btn-hover;
        }

        &:active {
            background-color: $btn-active;
        }
    }

    &--disabled {
        background-color: $color-grey-2;
        color: $btntxt-disabled;
    }
}
