@import '../../styles/base/base';

.button {
    background-color: $color-purple-dark;
    border: 0;
    border-radius: 65px;
    color: $color-white;
    cursor: pointer;
    font-family: $main-font;
    height: 40px;
    padding: 8px 24px;
    text-transform: uppercase;

    &--enabled {
        &:hover,
        &:focus {
            background-color: $color-hover-purple;
        }

        &:active {
            background-color: $color-active-purple;
        }
    }

    &--disabled {
        background-color: $color-grey-2;
        color: $color-grey-chateau;
        cursor: default;
    }

    &--slider {
        background-color: $color-red;
    }
}
