.reservations {
    margin: 0 auto;
    max-width: 1265px;

    &__section {
        display: flex;
    }

    &__side-filters {
        box-sizing: content-box;
        flex-shrink: 0;
        margin: 0 40px 0 0;
        width: 285px;
    }

    &__list {
        width: 100%;
    }
}
