@import '../../styles/base/base';

.form-container {
    box-sizing: border-box;
    width: 544px;
    background-color: $color-white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 42px 32px;
    margin-top: 69px;
    text-align: left;
    font-family: $main-font;
    color: $color-grey-7;
    font-weight: 400;

    &__legend {
        font-weight: 900;
        margin: 0;
    }
    &__sublegend {
        padding-top: 8px;
        margin: 0;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
    }
    &__footer-text {
        font-size: 16px;
    }
    &__sign-link {
        color: $color-purple-dark;
        text-decoration: none;
        padding-left: 3px;
    }
}

@media (max-height: 48.125em) {
    .form-container {
        margin-top: 30px;
        padding: 22px 32px;
    }
}
