@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.restaurant-interactions-banner {
    &__banner-flex {
        display: flex;
        align-items: center;
        height: 64px;
        justify-content: space-between;
        padding: 0 16px;
    }

    &__rating-heart {
        display: flex;
    }

    &__heart-button-box {
        padding-left: 10px;
    }

    &__check-in-textbox {
        color: $color-fiord;
        font-size: $size-14;
        font-weight: 700;
        line-height: 1.15;
        text-transform: uppercase;
    }
}
