@import '../../styles/base/base';

.dashboard {
    margin: 0 auto;
    max-width: 1265px;

    &__categories-wrapper {
        column-gap: 70px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 70px 30px 70px 0;
        row-gap: 60px;
    }
}

.dashboard__top {
    background-color: $color-pickled-bluewood;
    height: 200px;
    width: 100%;
}
