@import '../../styles/base/base';

.layout__wrapper {
    display: grid;
    grid-template-areas:
        'n h'
        'n c'
        'n f';
    grid-template-columns: 0.3fr 11.4fr;
    grid-template-rows: 1fr 10.25fr 0.75fr;

    height: 100%;

    .header__wrapper {
        grid-area: h;
    }

    .content__wrapper {
        background: #f6f7f8;
        grid-area: c;
    }

    .footer__wrapper {
        grid-area: f;
    }

    .navbar__wrapper {
        background: #6e44ff;
        grid-area: n;
        z-index: $z-index-timeline;
    }

    .header__wrapper,
    .footer__wrapper {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        z-index: $z-index-base;
    }

    @media (max-width: 1024px) {
        grid-template-columns: 0.75fr 11.25fr;
        grid-template-rows: 1fr 10.25fr 0.75fr;
    }
}
