@import '../../../styles/base/base';

.user-reactions {

  &__reaction,
  &__comment {
    display: inline-block;
    margin: 12px 15px 12px 0;
  }

  &__reaction-icon,
  &__comment-icon,
  &__reaction-count,
  &__comment-count {
    display: inline-block;
    vertical-align: middle;
  }

  &__reaction-count,
  &__comment-count {
    font-size: 13px;
    font-weight: 500;
    color: $color-grey-8;
    margin: 0;
    padding-left: 5px;
  }
}