@import '../../styles/mixins/mixins';
@import '../../styles/base/base';

$_transparent: transparent;

.hero {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 320px;

    &__desc {
        border: $color-black;
    }

    &__slides {
        position: relative;

        &::after {
            background-image: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0) 0%,
                $color-white 100%
            );
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 24px;
        padding: 24px;
    }

    &__info {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    &__pagination-container {
        border: 1px solid $color-red;
        //justify-content: center;
        overflow: hidden;
    }

    &__pagination {
        background-color: $color-silver;
        border-radius: 50%;
        display: inline-block;
        height: 6px;
        justify-self: start;
        margin: 5px;
        width: 6px;

        &--choosed {
            background-color: $color-red;
            height: 8px;
            width: 8px;
        }
    }

    &__nav {
        justify-self: end;

        button {
            background-color: $_transparent;
            border: 0;
            height: 30px;
            width: 30px;

            &:last-child {
                transform: translateX(-7px);
            }
        }
    }
}
