@import '../../styles/base/base';

.widget-block {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

@media (max-width: $breakpoint-tablet) {
    .widget-block {
        margin-bottom: 20px;
    }
}
