@import '../../styles/base/base';


.comment-add {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 10px;

  &__form {
    margin-left: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    word-break: break-all;
  }
  
  &__textField {
  color: $color-grey-7;
  font-size: 12px;
  flex: 0 0 80%;
  padding: 10px;
  
    &:focus {
      outline-color: transparent;
      color: $color-grey-7;
      background: $color-grey-2;
      border-radius: 5px;
    }

    &:empty:before {
      content: "Leave a comment...";
      color:$color-grey-chateau;
      text-align: bottom;
    }

    &:not(:empty) {
      background: $color-grey-2;
      border-radius: 5px;
    }
  }

  &__submitButton {
    border: none;
    background: none;
    padding: 10px 6px;

    &[value] {
      text-transform: uppercase;
      font-family: $main-font;
      color: $color-grey-6;
      font-weight: 500;
      font-size: $size-12;

      &:hover {
        cursor: pointer;
        color: $color-blue-dark;
      }

      &:focus {
        outline-color: transparent;
        background: none;
      }
    }
  }

  .user-avatar {
    margin-top: 5px;
  }
}