@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.new-post {
    &__post-options {
        display: flex;
        flex-direction: row;
    }

    &__button {
        background-color: $color-white;
        border: 1px solid $color-geyser;
        color: $color-mirage;
        flex: 1 0 33%;
        height: 30px;
        max-width: 100px;
        overflow: hidden;
        position: relative;

        &:first-child {
            border-radius: 8px 0 0 8px;
        }

        &:nth-child(2) {
            border-radius: 0;
        }

        &:last-child {
            border-radius: 0 8px 8px 0;
        }

        &:not(:last-child) {
            border-right: hidden;
        }

        &--selected {
            background-color: $color-mirage;
            border: 1px solid $color-mirage;
            color: $color-white;
        }
    }

    &__textField {
        background-color: $color-white;
        border: 1px solid $color-ghost;
        border-radius: 5px;
        height: 50px;

        &:focus {
            border: 1px solid $color-fiord;
        }
    }
}
