@import '../../styles/base/base';

.newsFeed {
    column-gap: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 64px 0;
    row-gap: 70px;
}

@media (max-width: $breakpoint-laptop) {
    .newsFeed {
        grid-template-columns: auto auto;
    }
}

@media (max-width: $breakpoint-tablet-landscape) {
    .newsFeed {
        grid-template-columns: auto;
    }
}
