.newsFeed {
    column-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 64px 0;
    row-gap: 70px;

    &__card {
        min-width: 395px;
    }
}
