@import '../../../styles/base/base';

.form-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: $color-grey-90;
    display: flex;
    justify-content: center;
    align-items: center;

    &__field {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-height: 48.125em) {
    .form-wrapper {
        overflow: scroll;
    }
}
