@import '../../../styles/base/base';

.form-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: $color-grey-form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
