@import '../../styles/base/colors';

.widget {
    background: $color-white;
    border-radius: 10px;
    display: inline-flex;
    height: 175px;
    margin: 0 120px 50px 0;

    &__content {
        display: flex;
        flex-direction: column;
        line-height: normal;
        margin: 9px 0 9px 17px;
    }

    &__icon-place {
        width: 116px;
    }
}
