.restaurant-card {
    &__bottom {
        display: flex;
        flex-direction: column;
        padding: 16px 16px 0;
    }

    &__description {
        color: #6a7889; // slate-grey
        display: -webkit-box;
        font-weight: 400;
        height: 72px;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        &--collapsed {
            height: 72px;
            overflow: hidden;
        }

        &--expanded {
            height: auto;
            overflow: visible;
            display: inline-block;
        }
    }

    &__button-field {
        display: flex;
        justify-content: flex-end;
    }
}
