@import '../../../styles/base/base';

.restaurant-card {
    &__bottom {
        display: flex;
        flex-direction: column;
        padding: 16px 16px 0;
    }

    &__description {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        color: $color-slate-grey;
        display: -webkit-box;
        font-weight: 400;
        height: 72px;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;

        &--collapsed {
            height: 72px;
            overflow: hidden;
        }

        &--expanded {
            display: inline-block;
            height: auto;
            overflow: visible;
        }
    }

    &__button-field {
        display: flex;
        justify-content: flex-end;
    }
}
