@import '../../styles/base/base';

.card {
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    font-family: $main-font; //delete when implemented
    padding: 0 15px;
}

.clearfix::after {
    clear: both;
    content: '';
    display: table;
}
