$grey: #8492a6;
$darkblue: #3e5067;
$validerror: #ff6e75;
$lightgrey: #cacfd5;
$size-14: 14px;
$size-10: 10px;

@import '../../styles/base/typography';

label {
    color: $grey;
    font-family: $roboto-medium;
    font-size: $size-14;
}

.text-danger {
    color: $validerror;
    font-family: $roboto-medium;
    font-size: $size-10;
}

::placeholder {
    color: $lightgrey;
    font-family: $roboto-medium;
}

.input-wrap__field,
%input-field {
    border: 1px solid $lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
    height: 48px;
    margin-top: 8px;
    outline-color: $darkblue;
    padding: 12px 16px;
    width: 100%;

    &--error {
        @extend %input-field;
        border: 1px solid $validerror;
    }
}

.input-wrap {
    margin: 20px;
}

svg {
    left: 90%;
    position: fixed;
    transform: translateY(-280%);
}
