@import '../../styles/base/base';

.restaurant-categories {
    column-gap: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 30px 70px 0;
    row-gap: 60px;

    @media (max-width: $breakpoint-laptop) {
        column-gap: $column-gap-small;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        padding-top: 60px;
    }
}
