@import '../../styles/base/base';
$_size-large: 32px;

.search-section {
    margin-bottom: 100px;
    padding: 40px;

    &__title {
        color: $color-fiord;
        font-size: $_size-large;
        font-weight: $weight-medium;
        margin: 0;
    }

    &__tag-wrapper {
        display: flex;
        margin: 25px 0;
    }

    &__search-bar-section {
        align-items: center;
        column-gap: $column-gap-small;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__search-button {
        align-items: center;
        display: flex;
        font-size: $size-16;
    }

    &__search-button-icon {
        padding-right: 5px;

        path {
            stroke: $color-white;
        }
    }
}
