@import '../../styles/base/base';

.info-card {
    max-width: 395px;
    background-color: $color-white;
    border-radius: 8px;

    &--shadow {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    }
}
