@import '../../../styles/mixins/mixins';

.restaurant-intro-card {
    @include flex-center;
    padding: 53px 40px;
    flex-direction: column;

    &__heading {
        font-weight: 900;
        text-align: center;
        line-height: 32px;
        margin: 0 0 24px 0;
    }
}
