@import '../../../styles/mixins/mixins';
@import '../../../styles/base/base';

.restaurant-intro-card {
    @include flex-center;
    flex-direction: column;
    height: 100%;
    margin: 0 15px;

    &__heading {
        color: $color-black;
        font-weight: 900;
        line-height: 32px;
        margin: 0 0 24px;
        opacity: 0.7;
        text-align: center;
    }
}

@media (max-width: $breakpoint-tablet-landscape) {
    .restaurant-intro-card {
        height: auto;
        padding: 30px 0;
    }
}
