@import '../../styles/base/base';

.user-avatar {
    align-items: center;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
