@import '../../styles/base/typography';
@import '../../styles/base/colors';
@import '../../styles/base/config';

body {
    color: $color-font-blue;
    font-family: $roboto-medium;
    font-size: $font-size-small;
    line-height: 22px;
}

.mainDiv {
    align-items: center;
    display: flex;
    justify-content: center;
}

.wrapper {
    height: 76px;
    position: relative;
    width: 40px;
}

.placeholder {
    left: 0;
    position: absolute;
    top: 0;
}

.profileBtn {
    border: 0;
    border-radius: 50%;
    height: 40px;
    outline: 0;
    width: 40px;
}

.drop-menu {
    display: inline-block;
    min-width: 200px;
    position: absolute;
    right: 0;
    top: 50px;
}

.drop-menu__body {
    background-color: $color-white;
    border: 1px solid $color-border;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.drop-menu__item {
    cursor: pointer;
}

.drop-menu__item:hover {
    background: $color-hover-grey;
}

.drop-menu__item-body {
    align-items: center;
    display: flex;
    margin: 15px;
}

.drop-menu__item-body--text {
    margin: 0 0 0 8px;
}

.arrow-up {
    background-color: $color-white;
    border: 1px solid $color-border;
    border-bottom: transparent;
    border-right: transparent;
    height: 5px;
    position: absolute;
    right: 15px;
    top: -3px;
    transform: rotate(45deg);
    width: 5px;
}
