@import '../../../styles/mixins/mixins';

.eat-out-intro-card {
    @include flex-center;
    width: auto;
    padding: 53px 40px;
    flex-direction: column;

    &__heading {
        font-weight: 900;
        text-align: center;
        line-height: 32px;
        margin: 0;
        margin-bottom: 24px;
    }
}
