@import '../../../styles/base//base';

.best-restaurant-wrapper {
    background-color: $color-porcelain;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;

    @media (max-width: 1300px) {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        grid-row-gap: 40px;
    }
}
