@mixin respond-to($size, $dir) {
    @if ($size == retina) {
        // stylelint-disable media-feature-name-no-vendor-prefix
        @media only screen and (min-resolution: 2dppx),
            (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    } @else if ($size and $dir) {
        @media screen and (#{$dir}-width: ($size + px)) {
            @content;
        }
    }
}

@mixin ratingbox($background, $element, $width) {
    align-items: center;
    background-color: $background;
    border-radius: 8px;
    box-sizing: border-box;
    color: $element;
    cursor: pointer;
    display: flex;
    font-size: $size-14;
    font-weight: 700;
    height: 32px;
    justify-content: space-between;
    padding: 8px 12px;
    width: $width;
}
