@import '../../styles/base/base';

.category-restaurants {
    margin: 0 auto;
    max-width: 1265px;

    &__heading {
        color: $color-pickled-bluewood;
        font-size: $size-36;
        font-weight: 700;
        line-height: 42px;
        margin: 0 0 30px;
    }

    &__category-name {
        text-transform: uppercase;
        margin-left: 8px;
    }
}
