@import '../../../styles/base/base';

.information-card {
    align-items: center;
    display: flex;
    margin: 0 25px 25px 0;

    &__text {
        display: flex;
        flex-direction: column;
        margin: 0 25px 0 15px;
    }

    &__title {
        color: $color-grey-7;
        font-size: $size-20;
        font-weight: $weight-medium;
        line-height: $size-24;
    }

    &__description {
        color: $color-grey-6;
        font-size: $size-14;
        font-weight: $weigth-bold;
        line-height: $size-24;
        text-transform: uppercase;
    }

    &--margin {
        margin: 0 0 25px;
    }
}
