$color-black: #000;
$color-white: #fff;

$color-blue-dark: #001836;
$color-fiord: #3e5067;
$color-grey-6: #6a7889;
$color-grey-5: #94a3ad;
$color-grey-4: #cacfd5;
$color-grey-3: #dcdfe3;
$color-grey-2: #edeff1;
$color-grey-1: #f6f7f8;
$color-red: #ff6e75;
$color-grey-mischka: #9ea7b3;
$color-mercury: #e5e5e5;
$color-porcelain: #f6f7f8;

$color-purple-dark: #6e44ff;
$color-hover-purple: #5836cc;
$color-active-purple: #462ca3;
